<a href="https://colab.research.google.com/github/mayankp158/Data_Structure/blob/master/GFG_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
def rotate(arr,n):
  temp = arr[n-1]
  
  for i in range(n-1,0,-1):
    arr[i] = arr[i-1]
  arr[0] = temp
  return arr
  
rotate([1,2,3,4,5],5)

[5, 1, 2, 3, 4]

In [29]:
def binary(arr,l,h,key):

  if l>h:
    return -1
  mid = (l+h) // 2
  if arr[mid] == key:
    return mid
  
  #check array first half is sorted or not

  if arr[l] <= arr[mid]:
    #search in first half range
    if key >= arr[l] and key <= arr[mid]:
      return binary(arr,l,mid-1,key)
    return binary(arr,mid+1,h,key)
    #search in second half range
  if key >= arr[mid] and key <=arr[h]:
    return binary(arr,mid+1,h,key)
  return binary(arr,l,mid-1,key)

arr = [4, 5, 6, 7, 8, 9, 1, 2, 3] 
key = 6
i = binary(arr, 0, len(arr)-1, key) 
if i != -1: 
    print ("Index: % d"% i) 
else: 
    print ("Key not found")

Index:  2

In [40]:
def find(arr,sum):
  for i in arr:
    new = sum - i
    for j in arr:
      if j == new:
        return (i,j)
        break

find([11, 15, 26, 38, 9, 10],35)

(26, 9)

In [61]:
def find2(arr,n,sum):
  for i in range(n):
    if arr[i] > arr[i+1]:
      break
  l = (i+1)%n
  r = i
  
  count = 0
  while(l!=r):
    
    if arr[l]+arr[r] == sum:
      count +=1

      if l == (r-1+n)%n:
        
        return count

      l = (l+1)%n
      r = (r-1+n)%n

    elif arr[l]+arr[r]<sum:
      l = (l+1)%n

    else:
      r = (n+r-1)%n
  return count


arr = [11, 15, 6, 7, 9, 10] 
s = 16
  
print(find2(arr, 6, s))

2

In [72]:
def max_sum(arr):
  sum = 0
  for i in range(len(arr)):
    sum += arr[i]*i
    i=i+1
  return sum
print(max_sum([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

330

In [6]:
def max(arr):
  curr_val = 0
  arrsum = 0
  n = len(arr)
  for i in range(n):
    arrsum += arr[i]
    curr_val += i*arr[i]

    max_val = curr_val

  for j in range(1,n):
    curr_val += arrsum - n*arr[n-j]
    if curr_val >max_val:
      max_val = curr_val
  return max_val

In [7]:
arr = [10, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
max(arr)

330

In [32]:
def reverse(arr):
  curr_val = 0
  arr_sum = 0
  n = len(arr)
  for i in range(n):
    arr_sum += arr[i]
    cur_val += i*arr[i]

    max_val = curr_val
  for j in range(-2,-1,-1):
    curr_val += arrsum - n*arr[n-j]
    if curr_val>max_val:
      max_val = curr_val
  return max_val

In [35]:
arr = [3, 2, 1] 
max(arr)

7

In [40]:
def min(arr,l,h):
  min_index = 0
  min = arr[0]
  for i in range(len(arr)):
    if arr[i] < min:
      min = arr[i]
      min_index = i
  return min_index
arr = [15, 18, 2, 3, 6, 12]
min(arr,0,n-1)

2

In [41]:
def binary_search(arr,l,h):
  if h<l:
    return 0
  if h == l:
    return l

  mid  = (h+l)//2

  if mid<h and arr[mid+1] < arr[mid]:
    return mid+1
  if mid>l and arr[mid-1] > arr[mid]:
    return mid
  else:
    if arr[h]>arr[mid]:
      return binary_search(arr,l,mid-1)
    return binary_search(arr,mid+1,h)

In [44]:
arr = [7, 9, 11, 12, 5] 
n = len(arr) 
print(binary_search(arr, 0, n-1))

4

In [56]:
def temp(arr,n):
  temp_arr = [0] * (2*n)
  for i in range(n):
    temp_arr[i] = temp_arr[i+n] = arr[i]
  return temp_arr

def rotation(temp_arr,k):
  start = k%n
  for j in range(start,start+n):
    print(temp_arr[j],end=" ")
  print("") 

arr = [1, 3, 5, 7, 9]
n = len(arr)
k1 = 1
k2 = 3
k3 = 4
k4 = 6


temp_arr = temp(arr,n)
rotation(temp_arr,k1)
rotation(temp_arr,k2)
rotation(temp_arr,k3)
rotation(temp_arr,k4)

3 5 7 9 1
7 9 1 3 5
9 1 3 5 7
3 5 7 9 1

In [86]:
def temp(arr,n):
  temp_arr = [0] * (2*n)
  for i in range(n):
    temp_arr[i] = temp_arr[i+n] = arr[i]
  return temp_arr

def rotation(temp_arr,k):
  end = len(temp_arr) - k
  for j in range(n-k,end):
    print(temp_arr[j],end=" ")
  print("") 

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = len(arr)
k = 1

temp_arr = temp(arr,n)
rotation(temp_arr,k)

10 1 2 3 4 5 6 7 8 9

In [85]:
def hammer(arr,n):
  temp = [0]*(2*n+1)
  for i in range(n):
    temp[i] = temp[n+i] = arr[i]
  k = 0
 
  for i in range(1,n):
    curr_hammer = 0
    max_hammer = 0
    for j in range(i,i+n):
      if temp[j] != arr[k]:
        curr_hammer +=1
        k += 1
      if curr_hammer == n:
        return n
      
  return max(max_hammer,curr_hammer)

arr = [2, 4, 6, 8] 
n = len(arr) 
print(hammer(arr, n))

4

In [7]:
left_array = []
right_array = []

def temp(arr,n):
  temp_arr = [0] * (2*n)
  for i in range(n):
    temp_arr[i] = temp_arr[i+n] = arr[i]
  return temp_arr

def left_rotation(temp_arr2,k):
  n2 = len(arr)
  start = k%n2

  for j in range(start,start+n2):
    print(temp_arr2[j],end=" ")

def temp2(right_array,n2):
  temp_arr2 = [0] * (2*n2)
  for i in range(n2):
    temp_arr2[i] = temp_arr2[i+n2] = right_array[i]
  
  return temp_arr2


def right_rotation(temp_arr,k):
  end = len(temp_arr) - k
  for j in range(n-k,end):
    right_array.append(temp_arr[j])
  
  return right_array

def combine(temp,r,l):
  a = right_rotation(temp,r)
  n2 = len(right_array)
  
  c = temp2(right_array,n2)
  b = left_rotation(c,l)
  return b

arr = [1, 2, 3, 4, 5] 
n = len(arr)


temp = temp(arr, n)


combine(temp,1,3)

3 4 5 1 2

In [12]:
def rotate_nice(arr,n,k):
  start = k%n
  for i in range(n):
    print(str(arr[ (start+i) % n]),end=" ")
  print("")
  return

arr = [ 1, 3, 5, 7, 9 ] 
n = len(arr) 
k = 2
rotate_nice(arr, n, k)

k = 3
rotate_nice(arr, n, k) 
  
k = 4
rotate_nice(arr, n, k)

5 7 9 1 3
7 9 1 3 5
9 1 3 5 7

In [16]:
def find(arr,ranges,index):
  for i in range(rotations -1, -1, -1):
    left = ranges[i][0]
    right = ranges[i][1]
    if index<=right and index >=left:
      if left == index:
        index = right 
      else:
        index -=1
  return arr[index]

arr = [ 1, 2, 3, 4, 5 ] 
   
rotations = 2

ranges = [ [ 0, 2 ], [ 0, 3 ] ] 
  
index = 1

find(arr,ranges,index)

3

In [6]:
def rotate(arr,n,k):
  temp = [0]*(2*n)
  for i in range(n):
    temp[i] = temp[i+n] = arr[i]
  for j in range(k,k+n):
    print(temp[j],end=" ")
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
rotate(arr,n,2)

5 6 52 36 12 10

In [11]:
def reverse(arr,n):
  for i in range(n-1,-1,-1):
    print(arr[i],end = ' ')
reverse([4, 5, 1, 2],4)

2 1 5 4

In [20]:
def reverse(arr,start,end):
  if start>=end:
    return
  arr[start],arr[end] = arr[end],arr[start]
  reverse(arr,start+1,end-1)
arr = [4, 5, 1, 2]
reverse(arr,0,3)
print(arr)

[2, 1, 5, 4]

In [12]:
def rearrange(arr, n):
  temp = sorted(arr)
  even = int(n/2)
  odd = n-even
  j = odd-1

#fill odd positions
  for i in range(0,n,2):
    arr[i] = temp[j]
    j = j-1

  j = odd

#fill odd positions 
  for i in range(1,n,2):
    arr[i] = temp[j]
    j = j+1

  return arr
arr = [1,3,2]
n = len(arr)
rearrange(arr,n)

[2, 3, 1]

In [24]:
arr = [1, 2, 3, -4, -1, 4]
n = len(arr)

i = -1
for j in range(n): 
  if (arr[j] < 0): 
    i += 1
            # swapping of arr 
    arr[i], arr[j] = arr[j], arr[i]
print(arr)

[-4, -1, 3, 1, 2, 4]
2

In [19]:
def alt(arr,n):
  i = -1
  for j in range(0,n):
    if (arr[j]<0):
      i = i+1
      arr[i], arr[j] = arr[j], arr[i]
  pos = i+1
  neg = 0
  while(pos<n and neg<pos and arr[neg]<0):
    arr[neg], arr[pos] = arr[pos], arr[neg]
    pos+=1
    neg+=2
  return arr

arr = [-1, 2, -3, 4, 5, 6, -7, 8, 9] 
n = len(arr)
alt(arr,n)

[4, -3, 5, -1, 6, -7, 2, 8, 9]

In [15]:
def right_rotate(arr,n,outplace,i):
  temp = arr[i]
  for i in range(i,outplace,-1):
    arr[i] = arr[i-1]
  arr[outplace] = temp
  return arr


def alt2(arr,n):
  outplace = -1
  for i in range(n):

    if outplace >=0:
      if (arr[i]>=0 and arr[outplace]<0) |  (arr[i]<0 and arr[outplace]>=0):
        right_rotate(arr,n,outplace,i)
        if (i - outplace) > 2:
          outplace +=2
        else:
          outplace =- 1 

    if outplace == -1:
      if (arr[i] >=0 and i%2==0) | (arr[i]<0 and i%2==1):
        outplace = i
  return arr

arr = [-5, -2, 5, 2, 4,  
        7, 1, 8, 0, -8]

n = len(arr)
alt2(arr,n)

[-5, 5, -2, 2, -8, 4, 7, 1, 8, 0]

In [2]:
def zero(arr,n):
  sorted_arr = sorted(arr)
  ans = []
  for i in arr:
    if i!=0:
      ans.append(i)
  for j in sorted_arr:
    if j == 0:
      ans.append(j)
  return ans

arr= [1, 2, 0, 0, 0, 3, 6]
n = len(arr)
zero(arr,n)

[1, 2, 3, 6, 0, 0, 0]

In [4]:
def zero_effective(arr,n):
  count = 0
  for i in range(n):
    if arr[i]!=0:
      arr[count] = arr[i]
      count +=1
  while(count<n):
    arr[count] = 0
    count +=1
  return arr


arr= [1, 2, 0, 0, 0, 3, 6]
n = len(arr)
zero_effective(arr,n)

[1, 2, 3, 6, 0, 0, 0]

In [7]:
def zero_single(arr,n):
  count = 0
  for i in range(n):
    if arr[i]!=0:
      arr[count], arr[i] = arr[i], arr[count]
      count +=1
  return arr

arr= [1, 2, 0, 0, 0, 3, 6]
n = len(arr)
zero_single(arr,n)

[1, 2, 3, 6, 0, 0, 0]

In [2]:
def small(arr,n,k):
  count = 0
  ans = 0
  for i in range(n):
    if arr[i]<=k:
      count+=1
  for j in range(count):
    if arr[j]>k:
      for l in range(j,n):
        if arr[l]<k:
          arr[j], arr[l] = arr[l], arr[j]
          ans +=1
          break
        else:
          if arr[l]==k:
            arr[j], arr[l] = arr[l], arr[j]
            ans += 1
            break
  return ans

In [7]:
arr = [2, 7, 9, 5, 8, 7, 4]
arr2 = [2, 1, 5, 6, 3]
n = len(arr)
n2 = len(arr2)
k2 = 3
k = 5
ans1 = small(arr,n,k)
ans2 = small(arr2,n2,k2)
print(ans1)
print(ans2)

2
1

In [8]:
def neg_pos(arr,n):
  j = 0
  for i in range(n):
    if arr[i]<0:
      arr[j], arr[i] = arr[i],arr[j]
      j = j+1
  return arr

arr = [12, 11, -13, -5, 6, -7, 5, -3, -6]
n = len(arr)
neg_pos(arr,n)

[-13, -5, -7, -3, -6, 12, 5, 11, 6]

In [9]:
# Python3 code to rearrange the 
# elements in array such that 
# even positioned are greater 
# than odd positioned elements 

def assign(a, n): 
	
	# Sort the array 
	a.sort() 
	
	ans = [0] * n 
	p = 0
	q = n - 1
	for i in range(n): 
		
		# Assign even indexes with 
		# maximum elements 
		if (i + 1) % 2 == 0: 
			ans[i] = a[q] 
			q = q - 1
		
		# Assign odd indexes with 
		# remaining elements 
		else: 
			ans[i] = a[p] 
			p = p + 1
			
	# Print result 
	for i in range(n): 
		print(ans[i], end = " ") 

# Driver Code 
A = [ 1, 2, 2, 1 ] 
n = len(A) 
assign(A, n) 

# This code is contributed by "Sharad_Bhardwaj".

1 2 1 2

In [11]:
def swap(arr,n):
  arr.sort()
  p = 0
  q = n-1
  temp = [0]*n

  for i in range(n):
    if (i+1)%2==0:
      temp[i] = arr[q]
      q = q-1
    else:
      temp[i] = arr[p]
      p = p+1

  return temp
arr = [1, 2, 2, 1]
n = len(arr)
swap(arr,n)

[1, 2, 1, 2]

In [15]:
def swap2(arr,n):

  #even index and value must be greater than the previous value
  for i in range(1,n):
    if i%2==0 and arr[i] > arr[i-1]:
      arr[i], arr[i-1] = arr[i-1], arr[i]
  #odd index and value must be less than the previous value
    else:
      if i%2!=0 and arr[i] < arr[i-1]:
        arr[i], arr[i-1] = arr[i-1], arr[i]
  return arr

arr2 = [1, 3, 2]
n = len(arr2)
swap2(arr2,n)

[1, 3, 2]

In [20]:
def max_min_rearrange(arr,n):
  a = sorted(arr)
  temp = [0]*n
  p = 0
  q = n-1
  for i in range(n):
    if i%2==0:
      temp[i] = a[p]
      p = p+1
    else:
      temp[i] = a[q]
      q = q-1
  return temp

arr = [5, 8, 1, 4, 2, 9, 3, 7, 6]
arr2 = [1, 2, 3, 4]
n = len(arr)
n2 = len(arr2)
print(max_min_rearrange(arr,n))
print(max_min_rearrange(arr2,n2))

[1, 9, 2, 8, 3, 7, 4, 6, 5]
[1, 4, 2, 3]

In [24]:
def double(arr,n):
  for i in range(n):
    if arr[i] == arr[i-1]:
      arr[i-1] = arr[i-1]*2
      arr[i] = 0

  count = 0
  for j in range(n):
    if arr[j]!=0:
      arr[count] = arr[j]
      count +=1
  while(count<n):
    arr[count] = 0
    count +=1
  return arr


arr = [0, 2, 2, 2, 0, 6, 6, 0, 0, 8]
n = len(arr)
double(arr,n)

[4, 2, 12, 8, 0, 0, 0, 0, 0, 0]

In [31]:
def reorder_indices(arr,index,n):
  count = 0
  temp = [0]*n
  for i in index:
    temp[count] = arr[i]
    count += 1
  return temp

arr = [10, 11, 12]
index = [1, 0, 2]
n = len(arr)
reorder_indices(arr,index,n)

[11, 10, 12]

In [33]:
def insertion_sort(arr,n):
  for i in range(1,n):
    current_element = arr[i]
    pos = i
    while(pos>0 and current_element<arr[pos-1]):
      arr[pos] = arr[pos-1]
      pos = pos-1
    
    arr[pos] = current_element
  return arr
arr = [4,2,1,5]
n = len(arr)

insertion_sort(arr,n)

[1, 2, 4, 5]

In [36]:
def negative_insert(arr,n):
  for i in range(1,n):
    curr_elem = arr[i]

    j = i -1
    if curr_elem > 0:
      continue

    while(j>=0 and arr[j]>0):
      arr[j+1] = arr[j]
      j = j-1
    arr[j+1] = curr_elem
  return arr

arr = [12 ,11, -13, -5, 6, -7, 5, -3, -6]
n = len(arr)
negative_insert(arr,n)

[-13, -5, -7, -3, -6, 12, 11, 6, 5]

In [52]:
arr = [54, 546, 548, 60]
arr2 = []
b = sorted(arr)
for i in range(len(b)-1,-1,-1):
  arr2.append(str(b[i]))

new = ''.join(arr2)
print(new)
print(arr2)

5485466054
['548', '546', '60', '54']

In [16]:
def change(arr,n):
  temp = [0]*n
  for i in range(n):
    temp[arr[i]] = i
  return temp
arr = [2, 0, 1, 4, 5, 3]
n = len(arr)
change(arr,n)

[1, 2, 0, 5, 3, 4]

In [8]:
def max_min_arrange(arr,n):
  temp = [0]*n
  flag = True
  large = n-1
  small = 0
  for i in range(0,n):
    if flag is True:
      temp[i] = arr[large]
      large -= 1 
    else:
      temp[i] = arr[small]
      small +=1
    flag = bool(1-flag)
  return temp

arr = [1,2,3,4,5,6]
n = len(arr)
max_min_arrange(arr,n)

[6, 1, 5, 2, 4, 3]

In [20]:
def max_min_efficient(arr,n):
  max_index = n-1
  min_index = 0
  max_element = arr[n-1] + 1
  for i in range(0,n):
    if i%2==0:
      arr[i] += (arr[max_index] % max_element)*max_element
      max_index -= 1
    else:
      arr[i] += (arr[min_index] % max_element)*max_element
      min_index +=1
  for i in range(0, n) : 
        arr[i] = arr[i] // max_element
  return arr

arr = [1,2,3,4,5,6,7]
n = len(arr)
max_min_efficient(arr,n)

[7, 1, 6, 2, 5, 3, 4]

In [32]:
def even_odd(arr,n):
  
  for i in range(1,n):
    if i%2==0:
      if arr[i]>arr[i-1]:
        arr[i-1],arr[i] = arr[i],arr[i-1]
    else:
      if arr[i]<arr[i-1]:
        arr[i-1],arr[i] = arr[i], arr[i-1]
  return arr
arr = [6, 4, 2, 1, 8, 3]
n = len(arr)
even_odd(arr,n)

[4, 6, 1, 8, 2, 3]

In [13]:
#code vita 2020 - 1
a = list(map(int,input().split()))
k = a[1]
arr = list(map(int,input().split()))

def operation(arr,n,k):
  sum = 0
  max_value = max(arr)
  for j in range(k):
    for i in range(n):
      if arr[i] == max_value:
        c = i
    new = max_value//2
    arr[c] = new
    max_value = max(arr)
  for i in arr:
    sum += i
  return sum


n = len(arr)
k = 3
operation(arr,n,k)

4 3
20 7 5 4

17

In [5]:
#code vita 2020 - 2
def find(d,p):
  k = d//p
  n = k
  count = 0
  res = 0
  while n>1:
    count = 0
    for i in range(0,p):
      pair_element = (i*k) + n
      # print(i,k,pair_element)
      if prime(int(pair_element)) and pair_element<=d:
        count += 1
      
    if count == p:
      res +=1

    n -=1
  return res
    
def prime(a):
  flag = 0
  if a<=1:
    return False
  if a<=3:
    return True
  for i in range(2,a):
    if a%i == 0:
      flag = 1
  if flag == 1:
    return False
  else:
    return True

d,p =  map(int,input().split())
find(d,p)

24 2

3

In [27]:
#code vita 2020 - 3
def max_sum(arr,n):
  sum = 0
  i = n - 1
  if n>2:

    while(i>1):
      sum += arr[i-1]*arr[n-1] + arr[i-2]
      arr.remove(arr[i-1])
      i -= 1
      n -= 1
      
  if n == 2:
    sum += arr[1] * arr[0]
    arr.remove(arr[0])
    n -= 1
 
  if n == 1:
    sum += arr[0]
  
  max = sum
  return max

n = int(input())
arr = list(map(int,input().split()))
arr2 = sorted(arr)
max_sum(arr2,n)

7
1 2 3 6 7 3 4

153

In [31]:
#code vita 2020 - 4
'''
input

18
* . * # * * * # * * * # * * * . * .
* . * # * . * # . * . # * * * * * *
* * * # * * * # * * * # * * * * . *
'''

vowels = {
    'A' : [
           ['.','*','.'],
           ['*','.','*'],
           ['*','.','*']       
    ],

    'E' : [
           ['*','*','*'],
           ['*','*','*'],
           ['*','*','*']
    ] ,

    'I' : [
           ['*','*','*'],
           ['.','*','.'],
           ['*','*','*']
    ],

    'O' : [
           ['*','*','*'],
           ['*','.','*'],
           ['*','*','*']
    ],

    'U' : [
           ['*','.','*'],
           ['*','.','*'],
           ['*','*','*']
    ]
}

a = int(input())
new = []
ans = ''
for i in range(3):
  new.append(input().replace(' ',''))

arr = [False for _ in range(a)]
i = 0

for i in range(n):
  if new[0][i] == '#' and new[1][i] == '#' and new[2][i] == '#':
    ans += '#'
    arr[i] = True
    continue
    
  if i+2 < n:
    if arr[i] or arr[i+1] or arr[i+2]:
      continue

    new2 = []  
    for j in range(3):
      new2.append([new[j][i], new[j][i+1] ,new[j][i+2]])
  
    for key in vowels:
      if vowels[key] == new2:
        ans += key
        arr[i],arr[i+1],arr[i+2] = True, True, True
        break
print(ans)

18
* . * # * * * # * * * # * * * . * .
* . * # * . * # . * . # * * * * * *
* * * # * * * # * * * # * * * * . *
U#O#I#E